<!-- Footer -->
<div class="container">

  
  <footer class="page-footer font-small cyan darken-3">
      <div class="row">
  
          <!--Grid column-->
          <div class="col-md-3">         
            <ul class="navbar-nav mr-md-3">
              <li class="nav-item ml-3 ">
                <a href="#" class="nav-link text-white">
                  <strong>
                    <span style="text-decoration: underline ">
                      Acciones rapidas
                    </span>
                  </strong> 
                </a>
              </li>
              <li class="nav-item ml-3">
                <a href="#" class="nav-link text-white">Guias</a>
              </li>
              <li class="nav-item ml-3">
                <a href="#" class="nav-link text-white">Destinoss</a>
              </li>
              <li class="nav-item ml-3">
                <a href="#" class="nav-link text-white">Quiero ser guia</a>
              </li>
              <li class="nav-item ml-3">
                <a href="#" class="nav-link text-white">Log In</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-6">
            <div class="text-center text-white mt-4 mb-4">
                <span style="text-decoration: underline ">
                  Suscribete a Yachay
                </span>
            </div> 
            <div class="input-group flex-nowrap mt-4">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">
                      <i class="fa fa-envelope fa-lg  text-primary mr-md-1 fa-2x" aria-hidden="true"></i>              
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
            <!-- <form class="input-group">
              <i class="fa fa-envelope-square fa-lg  text-white mr-md-1 fa-3x" aria-hidden="true"></i>              
              <input type="text" class="form-control form-control-md" placeholder="Email" aria-label="Your email">
            </form> -->
  
          </div>
          <div class="col-md-3">         
              <ul class="navbar-nav mr-md-3">
                  <li class="nav-item ml-3 ">
                    <a href="#" class="nav-link text-white">Contactanos</a>
                  </li>
                  <li class="nav-item ml-3">
                    <a href="#" class="nav-link text-white">Preguntas Frecuentes</a>
                  </li>
                  <div class="input-group">
                      <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                        <option selected>Idioma</option>
                        <option value="1">Español</option>
                        <option value="2">English</option>
                        <option value="3">Portugues</option>
                      </select>
                      <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button">Seleccionar</button>
                      </div>
                  </div>
                </ul>
          </div>
        </div>
          <!--Grid column-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-12 text-center mt-3">
            <div class="">
  
              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fa fa-facebook fa-lg  text-white mr-md-5 mr-3 fa-2x" aria-hidden="true"></i>              
              </a>
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fa fa-twitter fa-lg text-white mr-md-5 mr-3 fa-2x"> </i>
              </a> 
              <!--Instagram-->
              <a class="ins-ic">
                <i class="fa fa-instagram fa-lg text-white  mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Pinterest-->
              <a class="pin-ic">
                <i class="fa fa-pinterest fa-lg text-white  fa-2x"> </i>
              </a>
            </div>
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      <!-- Copyright -->
      <div class="footer-copyright text-center p-3 text-white">
        <a href="#" class="text-white">Yachay</a>
        © 2018 Copyright
      </div>
      <!-- Copyright -->
  
    </footer>
    <!-- Footer -->
</div>